0.navbar {
  padding-left: 50px;
}
#title_container {
  width: 1200px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  margin-top: 0px;
}

.form-control {
  border: 0ch;
  margin-left: 1px;
  box-shadow: 0px 10px 0px -7px #ebebeb, 0px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.form-control:focus {
  outline: none;
  border: 0ch;
  box-shadow: 0px 10px 0px -7px #4ea6ea, 0px 10px 0px -7px #4ea6ea;
}

.item:nth-child(1) {
  width: 500px;
}
#title_input input {
  font-size: x-large;
  font-style: bold;
}

.item:nth-child(2) {
  flex-grow: auto;
}
#date_input input {
  flex-grow: 1;
  font-size: small;
  margin-left: 10px;
}

.item:nth-child(3) {
  width: 300px;
}
#cpn_input input {
  flex-grow: 1;
  font-size: small;
  margin-left: 180px;
}

#total_budget_container {
  margin-top: 35px;
  width: 1150px;
  background-color: #d3e4f1dc;
  height: 70px;
}
h4,
h2 {
  margin-bottom: 0;
}
#total_text {
  margin-left: 30px;
  color: rgb(46, 46, 145);
}
#budget_text,
#total_cost,
#budget_cost,
#currency {
  margin-left: 20px;
  color: rgb(46, 46, 145);
}
#btns_total_budget {
  margin-right: 10px;
}
#btn_mode {
  margin-left: auto;
}
#btn_dollar {
  margin-left: 10px;
}

#plan_container {
  margin-top: 10px;
  width: 1150px;
  height: 510px;
  padding: 10px;
}

p {
  margin-bottom: 10px;
}
#day_date_text {
  margin-left: 10px;
}
#day_title_input {
  width: 500px;
  border: 0px;
  font-size: large;
  font-style: bold;
  margin-left: 20px;
}
#map_area {
  margin-left: 10px;
}
#budget_list_area {
  margin-top: 10px;
}
#plan_list_area {
  padding: 10px;
  border: 2px solid;
  border-color: #fad91d;
  overflow: auto;
}
#plan_input {
  margin-left: 10px;
  margin-right: 5px;
  border: 0px;
  box-shadow: -5px 8px 0px -7px #bbbbbb;
}
#plan_input:focus {
  outline: none;
  box-shadow: -5px 8px 0px -7px #000000;
}
#plan_list {
  margin-top: 5px;
}
#btn_add {
  background-color: #fad91d;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  color: #616161;
  padding: 2px;
  padding-left: 7px;
  padding-right: 7px;
}

#budget_list_area {
  padding: 10px;
  border: 2px solid;
  border-color: rgb(58, 160, 255);
}
.task {
  padding-bottom: 2px;
  box-shadow: -2px 4px 0px -3px #bbbbbb;
}
.btn-danger {
  width: fit-content;
  height: fit-content;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
#btn_gps {
  border: 1px solid #000000;
  width: fit-content;
  height: fit-content;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}
      
      