.form-select {
  width: 120px;
}

.form-control {
  width: 200px;
}

#title_container {
  width: 1200px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  padding-top: 20px;
}

.form-control {
  border: 0ch;
  margin-left: 1px;
  box-shadow: 0px 10px 0px -7px #ebebeb, 0px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.form-control:focus {
  outline: none;
  border: 0ch;
  box-shadow: 0px 10px 0px -7px #4ea6ea, 0px 10px 0px -7px #4ea6ea;
}

.item:nth-child(1) {
  width: 500px;
}
#title_input input {
  font-size: x-large;
  font-style: bold;
}

.item:nth-child(2) {
  flex-grow: auto;
}
#date_input input {
  flex-grow: 1;
  font-size: small;
  margin-left: 10px;
}

.item:nth-child(3) {
  width: 300px;
}
#cpn_input input {
  flex-grow: 1;
  font-size: small;
  margin-left: 180px;
}

#total_budget_container {
  margin-top: 35px;
  width: 1150px;
  background-color: #d9e7f3;
  height: 70px;
}
.bi.bi-coin {
  color: rgb(46, 46, 145);
}

h4,
h3,
h2 {
  margin-bottom: 0;
}

#total_input {
  width: 120px;
  background-color: #d9e7f3;
  box-shadow: 0px 10px 0px -7px #f3f8fd, 0px 10px 0px -7px #ebebeb;
  font-size: large;
  font-style: bold;
}

#budget_input {
  width: 120px;
  background-color: #d9e7f3;
  box-shadow: 0px 10px 0px -7px #f3f8fd, 0px 10px 0px -7px #ebebeb;
  font-size: large;
  font-style: bold;
}

#total_input:focus {
  outline: none;
  border: 0ch;
  box-shadow: 0px 10px 0px -7px #4ea6ea, 0px 10px 0px -7px #4ea6ea;
}

#budget_input:focus {
  outline: none;
  border: 0ch;
  box-shadow: 0px 10px 0px -7px #4ea6ea, 0px 10px 0px -7px #4ea6ea;
}

#total_cost,
#budget_cost {
  font-weight: bold;
  margin-left: 15px;
  color: rgb(46, 46, 145);
}

#to_currency {
  font-weight: bold;
}

#total_text,
#budget_text {
  margin-left: 15px;
  color: rgb(46, 46, 145);
}

#currency {
  font-weight: bold;
  margin-left: 20px;
  color: rgb(46, 46, 145);
  text-shadow: 2px 2px 0px rgba(46, 46, 145, 0.384);
}

#btns_total_budget {
  margin-right: 10px;
}
#btn_mode {
  margin-left: auto;
}
#btn_dollar {
  margin-left: 10px;
}
